
 <!-- Footer -->
 <footer class="page-footer font-small blue-grey lighten-5">

        <div style="background-color: var(--main-color);">
          <div class="container">
    
            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center">
    
              <!-- Grid column -->
              <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
              </div>
              <!-- Grid column -->
    <div class="container">
                    <h1 class="text-center">JOIN US</h1>
                    <p class="text-center">Enter your e-mail to subscribe to our newsletter.</p>
                    <div class="d-table-cell w-100">
                        <input class="form-control" placeholder="Enter email">
                    </div>
                     <div class="d-table-cell align-middle">
                        <button id="sub-btn" class="btn btn-primary">Submit</button>
                    </div>
                </div>
              <!-- Grid column -->
             
              <!-- Grid column -->
    
            </div>
            <!-- Grid row-->
    
          </div>
        </div>
    
        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5">
    
          <!-- Grid row -->
          <div class="row mt-3 dark-grey-text">
    
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
    
              <!-- Content -->
              <h6 class="text-uppercase font-weight-bold"><img src="{{ site.baseurl }}/images/icons/logoname.png" width="50%" alt=""></h6>
              <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>Bold, Colorful and Smart to Make Taking Lunch Easy and Enjoyable.</p>
    
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
    
              <!-- Links -->
              <h6 class="text-uppercase font-weight-bold">Shop</h6>
              <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                <a class="dark-grey-text" href="#!">Preps Pack</a>
              </p>
              <p>
                <a class="dark-grey-text" href="#!">Accesoires</a>
              </p>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
    
              <!-- Links -->
              <h6 class="text-uppercase font-weight-bold">Useful links</h6>
              <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                <a class="dark-grey-text" href="#!">FAQ</a>
              </p>
              <p>
                <a class="dark-grey-text" href="#!">Terms</a>
              </p>
              <p>
                <a class="dark-grey-text" href="#!">The app</a>
              </p>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
    
              <!-- Links -->
              <h6 class="text-uppercase font-weight-bold">Contact</h6>
              <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                <i class="fa fa-home mr-3"></i> Los Angeles, CA</p>
              <p>
                <i class="fa fa-envelope mr-3"></i> hello@getprepd.com</p>
              <p>
                <i class="fa fa-phone mr-3"></i> (213) 974-3211</p>
    
            </div>
            <!-- Grid column -->
            <div class="col-md-3 col-lg-7 text-center text-md-right">
    
                    <!-- Facebook -->
                    <a class="fb-ic">
                      <i class="fa fa-facebook white-text mr-3"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic">
                      <i class="fa fa-twitter white-text mr-3"> </i>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic">
                      <i class="fa fa-google-plus white-text mr-3"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic">
                      <i class="fa fa-linkedin white-text mr-3"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                      <i class="fa fa-instagram white-text"> </i>
                    </a>
        
                  </div>
          </div>
          <!-- Grid row -->
    
        </div>
        <!-- Footer Links -->
    
        <!-- Copyright -->
        <div class="footer-copyright text-center text-black-50 py-3">© 2018 Copyright:
        </div>
        <!-- Copyright -->
    
      </footer>
      <!-- Footer -->
