
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
            <ul class="navbar-nav ml-auto text-center">
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}/shopprepdpack.html">Prepd Pack</a>
                </li>
                <li class="nav-item mx-5">
                    <a class="nav-link" href="{{ site.baseurl }}/shopaccesoires.html">Accesoires</a>
                </li>
            </ul>
        </div>
        <div class="mx-auto my-2 order-0 order-md-1 position-relative">
            <a class="mx-5" href="{{ site.baseurl }}/home.html">
                <img src="{{ site.baseurl }}/images/icons/logoround.png" width="30%" class="rounded-circle">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
            <ul class="navbar-nav mr-auto text-center">
                <li class="nav-item mx-5">
                    <a class="nav-link" href="{{ site.baseurl }}/about.html">About</a>
                </li>
                <li class="nav-item mx-5">
                    <a class="nav-link" href="{{ site.baseurl }}/contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </nav>